#### Standard Rules -----------------------------------------------------------

### T1215_Kernel_Modules_and_Extensions ---------------------------------------

## Kernel parameters
-w /etc/sysctl.conf -p wa -k T1215_Kernel_Modules_and_Extensions

## Kernel module loading and unloading
-a always,exit -F perm=x -F auid!=-1 -F path=/bin/kmod -k T1215_Kernel_Modules_and_Extensions
-a always,exit -F perm=x -F auid!=-1 -F path=/sbin/insmod -k T1215_Kernel_Modules_and_Extensions
-a always,exit -F perm=x -F auid!=-1 -F path=/sbin/modprobe -k T1215_Kernel_Modules_and_Extensions
-a always,exit -F perm=x -F auid!=-1 -F path=/sbin/rmmod -k T1215_Kernel_Modules_and_Extensions
-a always,exit -F arch=b64 -S finit_module -S init_module -S delete_module -F auid!=-1 -k T1215_Kernel_Modules_and_Extensions
-a always,exit -F arch=b32 -S finit_module -S init_module -S delete_module -F auid!=-1 -k T1215_Kernel_Modules_and_Extensions

## Modprobe configuration
-w /etc/modprobe.conf -p wa -k T1215_Kernel_Modules_and_Extensions
-w /etc/modprobe.d/ -p wa -k T1215_Kernel_Modules_and_Extensions

## KExec usage (all actions)
-a always,exit -F arch=b64 -S kexec_load -k T1215_Kernel_Modules_and_Extensions_KEXEC
-a always,exit -F arch=b32 -S sys_kexec_load -k T1215_Kernel_Modules_and_Extensions_KEXEC

### T1099_Timestomp -----------------------------------------------------------

## Time
-a exit,always -F arch=b32 -S adjtimex -S settimeofday -S clock_settime -k T1099_Timestomp
-a exit,always -F arch=b64 -S adjtimex -S settimeofday -S clock_settime -k T1099_Timestomp
-a always,exit -F arch=b32 -S clock_settime -k T1099_Timestomp
-a always,exit -F arch=b64 -S clock_settime -k T1099_Timestomp
-w /etc/localtime -p wa -k T1099_Timestomp

### T1079_Multilayer_Encryption -----------------------------------------------

## Stunnel
-w /usr/sbin/stunnel -p x -k T1079_Multilayer_Encryption

### T1168_Local_Job_Scheduling ------------------------------------------------

## Cron configuration & scheduled jobs
-w /etc/cron.allow -p wa -k T1168_Local_Job_Scheduling
-w /etc/cron.deny -p wa -k T1168_Local_Job_Scheduling
-w /etc/cron.d/ -p wa -k T1168_Local_Job_Scheduling
-w /etc/cron.daily/ -p wa -k T1168_Local_Job_Scheduling
-w /etc/cron.hourly/ -p wa -k T1168_Local_Job_Scheduling
-w /etc/cron.monthly/ -p wa -k T1168_Local_Job_Scheduling
-w /etc/cron.weekly/ -p wa -k T1168_Local_Job_Scheduling
-w /etc/crontab -p wa -k T1168_Local_Job_Scheduling
-w /var/spool/cron/crontabs/ -k T1168_Local_Job_Scheduling
-w /etc/at.allow -p wa -k T1168_Local_Job_Scheduling
-w /etc/at.deny -p wa -k T1168_Local_Job_Scheduling
-w /var/spool/at/ -p wa -k T1168_Local_Job_Scheduling
-w /etc/anacrontab -p wa -k T1168_Local_Job_Scheduling
-w /usr/bin/crontab -p x -k T1168_Local_Job_Scheduling

## System startup scripts - not systemd
-w /etc/inittab -p wa -k T1168_Local_Job_Scheduling
-w /etc/init.d/ -p wa -k T1168_Local_Job_Scheduling
-w /etc/init/ -p wa -k T1168_Local_Job_Scheduling

### T1082_System_Information_Discovery ----------------------------------------

## Login configuration and information
-w /etc/hostname -p r -k T1082_System_Information_Discovery
-w /sbin/iptables -p x -k T1082_System_Information_Discovery
-w /sbin/ifconfig -p x -k T1082_System_Information_Discovery
-w /etc/login.defs -p wa -k T1082_System_Information_Discovery
-w /etc/securetty -p wa -k T1082_System_Information_Discovery
-w /var/log/faillog -p wa -k T1082_System_Information_Discovery
-w /var/log/lastlog -p wa -k T1082_System_Information_Discovery
-w /var/log/tallylog -p wa -k T1082_System_Information_Discovery

### T1016_System_Network_Configuration_Discovery ------------------------------

## Network Configuration Changes and Discovery
-w /etc/resolv.conf -k T1016_System_Network_Configuration_Discovery
-w /etc/hosts.allow -k T1016_System_Network_Configuration_Discovery
-w /etc/hosts.deny -k T1016_System_Network_Configuration_Discovery
-w /etc/hosts -k T1016_System_Network_Configuration_Discovery
-w /etc/sysconfig/network -k T1016_System_Network_Configuration_Discovery
-w /etc/sysconfig/network-scripts/ -k T1016_System_Network_Configuration_Discovery
-w /etc/network/ -p wa -k T1016_System_Network_Configuration_Discovery
-a always,exit -F dir=/etc/NetworkManager/ -F perm=wa -k T1016_System_Network_Configuration_Discovery

### T1052_Exfiltration_Over_Physical_Medium -----------------------------------

## Mount operations (only attributable)
-a always,exit -F arch=b64 -S mount -S umount2 -F auid!=-1 -k T1052_Exfiltration_Over_Physical_Medium
-a always,exit -F arch=b32 -S mount -S umount -S umount2 -F auid!=-1 -k T1052_Exfiltration_Over_Physical_Mediums
-w /usr/sbin/mount.fuse -p x -k T1052_Exfiltration_Over_Physical_Medium

### T1201_Password_Policy_Discovery -------------------------------------------

## Pam configuration
-w /etc/pam.d/common-password -p wa -k T1201_Password_Policy_Discovery
-w /etc/pam.d/ -p wa -k T1071_Standard_Application_Layer_Protocol
-w /etc/security/limits.conf -p wa  -k T1071_Standard_Application_Layer_Protocol
-w /etc/security/pam_env.conf -p wa -k T1071_Standard_Application_Layer_Protocol
-w /etc/security/namespace.conf -p wa -k T1071_Standard_Application_Layer_Protocol
-w /etc/security/namespace.init -p wa -k T1071_Standard_Application_Layer_Protocol

### T1021_Remote_Services -----------------------------------------------------

## SSH configuration
-w /etc/ssh/sshd_config -k T1021_Remote_Services

## Login Related Events
-w /var/log/faillog -p wa -k T1021_Remote_Services
-w /var/log/lastlog -p wa -k T1021_Remote_Services
-w /var/log/tallylog -p wa -k T1021_Remote_Services


### T1501_Systemd_Service -----------------------------------------------------

## Systemd
-w /bin/systemctl -p x -k T1501_Systemd_Service 
-w /etc/systemd/ -p wa -k T1501_Systemd_Service
-w /lib/systemd/ -p wa -k T1501_Systemd_Service
-w /usr/bin/journalctl -p x -k T1501_Systemd_Service

### T1222_File_and_Directory_Permissions_Modification -------------------------

## SELinux events that modify the system's Mandatory Access Controls (MAC)
-w /etc/selinux/ -p wa -k T1222_File_and_Directory_Permissions_Modification_SLinux

### T1108_Redundant_Access ----------------------------------------------------

## Session initiation information
-w /var/run/utmp -p wa -k T1108_Redundant_Access
-w /var/log/btmp -p wa -k T1108_Redundant_Access
-w /var/log/wtmp -p wa -k T1108_Redundant_Access

### T1529_System_Shutdown_Reboot ----------------------------------------------

## Power state
-w /sbin/shutdown -p x -k T1529_System_Shutdown_Reboot 
-w /sbin/poweroff -p x -k T1529_System_Shutdown_Reboot
-w /sbin/reboot -p x -k T1529_System_Shutdown_Reboot
-w /sbin/halt -p x -k T1529_System_Shutdown_Reboot


#### TODO see where to put

# Non-MITRE Selection

## Postfix configuration
-w /etc/aliases -p wa -k mail
-w /etc/postfix/ -p wa -k mail
